<div class="page a4 text-left">
    <div class="container-fluid vks-report vks-diffl">
        <div class="row">
            <h4 class="col-xs-8">{{doc.f002}}</h4>

            <div class="col-xs-4">
                <barcode type="code39" value="{{doc.f008}}"/>
            </div>
        </div>

        <div class="form-horizontal container-fluid">
            <span ngp-form-group name="'verlader'" label="doc.f003" value="doc.f007"/>
            <span ngp-form-group name="'datum'" label="doc.f004" value="doc.f009"/>
            <span ngp-form-group name="'tor'" label="doc.f005" value="doc.f010 + ' ' + doc.f011"/>
            <span ngp-form-group name="'kennz'" label="doc.f006" value="doc.f012"/>
        </div>

        <br/><br/>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>TA-Nr.</th>
                <th>PST-Nr.</th>
                <th>LS-Nr.</th>
                <th>Aktion</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in doc.items">
                <td>{{item.TA}}</td>
                <td>{{item.PST}}</td>
                <td>{{item.LSNR}}</td>
                <td>{{item.AKTION}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


