<div class="page a4">
    <div class="vks-diffl">
        <h2>{{doc.f002}}</h2>
        <barcode type="code39" value="{{doc.f008}}"/>
        <fld type="output" label="doc.f003" value="doc.f007"/>
        <fld type="output" label="doc.f004" value="doc.f009"/>
        <fld type="output" label="doc.f005" value="doc.f010 + ' ' + doc.f011"/>
        <fld type="output" label="doc.f006" value="doc.f012"/>
        <!--<span ng-repeat="item in doc.items">
            <span ng-include="'templates/doc-'+doc.meta.type+'.html'"></span>
        </span>-->
    </div>
</div>


