<div class="page a5q">
  <div class="vda-label hwa">
    <h2>VDA TEMPLATE</h2>
    <div class="col-lg-2">
        <span class="fld-name">Receptor</span>
        <span class="fld-val">{{label.wename}}</span>
    </div>
    <div>
        <span class="fld-name">PST-Nr</span>
        <span class="fld-val">{{label.pstnr}}</span>

        <code39 x-pstnr="label.pstnr" example-function="exampleCallback()" x-pstnr2="{{label.pstnr}}"  x-pstnr3="{{label}}"
                x-pstnr4="{{1+1}}">{{label.pstnr}}</code39>

    </div>
  </div>
</div>


